<div class="formulario">
    <div class="wrapper">
        <form [formGroup]="formRegister">
            <h2 class="titulo">Formulario de Registro</h2>
            <div class="formu__mail">
                <div>
                    <label for="email">Correo electrónico:</label>
                </div>
                <div>
                    <input type="email" name="email" id="email" class="emailInput" formControlName="email">
                </div>
            </div>
            <div class="formu__pass">
                <div>
                    <label for="password">Contraseña:</label>
                </div>
                <div class="wrapp-input">
                    <span class="icon-eye">
                        <i class="fa-solid fa-eye-slash"></i>
                    </span>
                    <input type="password" name="password" id="password" class="passInput" formControlName="password">
                </div>
            </div>
            <div class="form__check">
                <input type="checkbox" name="check" id="check">
                <label class="terminos" for="check"> Acepto los <a class="terminos__condiciones" routerLinkActive routerLink="/terminos">Terminos y Condiciones</a></label>
            </div>
            <div class="button__register">
                <button class="button" (click)="onSubmit()">Registrar Ahora</button>
            </div>
        </form>
    </div>
</div>
